In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
df_2015 = pd.read_csv("../data/raw/2015.csv")
df_2016 = pd.read_csv("../data/raw/2016.csv")
df_2017 = pd.read_csv("../data/raw/2017.csv")
df_2018 = pd.read_csv("../data/raw/2018.csv")
df_2019 = pd.read_csv("../data/raw/2019.csv")

In [110]:
df_2020 = pd.read_csv("../data/raw/2020.csv")
df_2021 = pd.read_csv("../data/raw/2021.csv")
df_2022 = pd.read_csv("../data/raw/2022.csv")
df_2023 = pd.read_csv("../data/raw/2023.csv")

In [111]:
years_list = [df_2015, df_2016, df_2017, df_2018, df_2019, df_2020, df_2021, df_2022, df_2023]
for index, year in enumerate(years_list):
    print(2015+index, ': ', year.shape, '\n', year.columns.tolist(), '\n\n')

2015 :  (158, 10)
 ['Country', 'Region', 'GDP per capita', 'Social support', 'Life Expectancy', 'Freedom', 'Trust', 'Generosity', 'Happiness Rank', 'Happiness Score']


2016 :  (157, 10)
 ['Country', 'Region', 'GDP per capita', 'Social support', 'Life Expectancy', 'Freedom', 'Trust', 'Generosity', 'Happiness Rank', 'Happiness Score']


2017 :  (155, 10)
 ['Country', 'Region', 'GDP per capita', 'Social support', 'Life Expectancy', 'Freedom', 'Trust', 'Generosity', 'Happiness Rank', 'Happiness Score']


2018 :  (156, 10)
 ['Country', 'Region', 'GDP per capita', 'Social support', 'Life Expectancy', 'Freedom', 'Trust', 'Generosity', 'Happiness Rank', 'Happiness Score']


2019 :  (156, 10)
 ['Country', 'Region', 'GDP per capita', 'Social support', 'Life Expectancy', 'Freedom', 'Trust', 'Generosity', 'Happiness Rank', 'Happiness Score']


2020 :  (153, 20)
 ['Country name', 'Regional indicator', 'Ladder score', 'Standard error of ladder score', 'upperwhisker', 'lowerwhisker', 'Logged GDP per capita', 'Social support', 'Healthy life expectancy', 'Freedom to make life choices', 'Generosity', 'Perceptions of corruption', 'Ladder score in Dystopia', 'Explained by: Log GDP per capita', 'Explained by: Social support', 'Explained by: Healthy life expectancy', 'Explained by: Freedom to make life choices', 'Explained by: Generosity', 'Explained by: Perceptions of corruption', 'Dystopia + residual']


2021 :  (149, 20)
 ['Country name', 'Regional indicator', 'Ladder score', 'Standard error of ladder score', 'upperwhisker', 'lowerwhisker', 'Logged GDP per capita', 'Social support', 'Healthy life expectancy', 'Freedom to make life choices', 'Generosity', 'Perceptions of corruption', 'Ladder score in Dystopia', 'Explained by: Log GDP per capita', 'Explained by: Social support', 'Explained by: Healthy life expectancy', 'Explained by: Freedom to make life choices', 'Explained by: Generosity', 'Explained by: Perceptions of corruption', 'Dystopia + residual']


2022 :  (2089, 12)
 ['Country name', 'year', 'Life Ladder', 'Log GDP per capita', 'Social support', 'Healthy life expectancy at birth', 'Freedom to make life choices', 'Generosity', 'Perceptions of corruption', 'Positive affect', 'Negative affect', 'Confidence in national government']


2023 :  (2199, 11)
 ['Country name', 'year', 'Life Ladder', 'Log GDP per capita', 'Social support', 'Healthy life expectancy at birth', 'Freedom to make life choices', 'Generosity', 'Perceptions of corruption', 'Positive affect', 'Negative affect']

In [16]:
# print('2015: ', df_2015.shape, '\n', df_2015.columns.to_list(), '\n\n', 
#       '2016: ', df_2016.shape, '\n', df_2016.columns.to_list(), '\n\n',
#       '2017: ', df_2017.shape, '\n', df_2017.columns.to_list(), '\n\n',
#       '2018: ', df_2018.shape, '\n', df_2018.columns.to_list(), '\n\n',
#       '2019: ', df_2018.shape, '\n', df_2018.columns.to_list(), '\n\n',)

In [ ]:
# Drop columns and standardise column names:

In [29]:
df_2018['Social support'].head(5)

0    1.592
1    1.582
2    1.590
3    1.644
4    1.549
Name: Social support, dtype: float64

In [30]:
df_2015['Family'].head(5)

0    1.34951
1    1.40223
2    1.36058
3    1.33095
4    1.32261
Name: Family, dtype: float64

In [39]:
new_column_names = {
    'Economy (GDP per Capita)': 'GDP per capita',
    'Economy..GDP.per.Capita.': 'GDP per capita',
    'Health (Life Expectancy)': 'Life Expectancy',
    'Health..Life.Expectancy.': 'Life Expectancy',
    'Healthy life expectancy': 'Life Expectancy',
    'Happiness.Rank': 'Happiness Rank',
    'Overall rank': 'Happiness Rank',
    'Happiness.Score': 'Happiness Score',
    'Score': 'Happiness Score',
    'Country or region': 'Country',
    'Freedom to make life choices': 'Freedom',
    'Trust (Government Corruption)': 'Trust',
    'Trust..Government.Corruption.': 'Trust',
    'Perceptions of corruption': 'Trust',
    'Freedom to make life choices': 'Freedom',
    'Family': 'Social support'   
}

In [40]:
df_2015 = df_2015.rename(columns=new_column_names, inplace=False)
df_2016 = df_2016.rename(columns=new_column_names, inplace=False)
df_2017 = df_2017.rename(columns=new_column_names, inplace=False)
df_2018 = df_2018.rename(columns=new_column_names, inplace=False)
df_2019 = df_2019.rename(columns=new_column_names, inplace=False)

In [41]:
years_list = [df_2015, df_2016, df_2017, df_2018, df_2019]
for index, year in enumerate(years_list):
    print(2015+index, ': ', year.shape, '\n', year.columns.tolist(), '\n\n')

2015 :  (158, 12)
 ['Country', 'Region', 'Happiness Rank', 'Happiness Score', 'Standard Error', 'GDP per capita', 'Social support', 'Life Expectancy', 'Freedom', 'Trust', 'Generosity', 'Dystopia Residual']


2016 :  (157, 13)
 ['Country', 'Region', 'Happiness Rank', 'Happiness Score', 'Lower Confidence Interval', 'Upper Confidence Interval', 'GDP per capita', 'Social support', 'Life Expectancy', 'Freedom', 'Trust', 'Generosity', 'Dystopia Residual']


2017 :  (155, 12)
 ['Country', 'Happiness Rank', 'Happiness Score', 'Whisker.high', 'Whisker.low', 'GDP per capita', 'Social support', 'Life Expectancy', 'Freedom', 'Generosity', 'Trust', 'Dystopia.Residual']


2018 :  (156, 9)
 ['Happiness Rank', 'Country', 'Happiness Score', 'GDP per capita', 'Social support', 'Life Expectancy', 'Freedom', 'Generosity', 'Trust']


2019 :  (156, 9)
 ['Happiness Rank', 'Country', 'Happiness Score', 'GDP per capita', 'Social support', 'Life Expectancy', 'Freedom', 'Generosity', 'Trust']

In [54]:
def make_region_column(df_year):
    df_year = df_year.merge(df_2015[['Country', 'Region']], on='Country', how='left')
    return df_year

df_2017 = make_region_column(df_2017)
df_2018 = make_region_column(df_2018)
df_2019 = make_region_column(df_2019)

In [55]:
years_list = [df_2015, df_2016, df_2017, df_2018, df_2019]
for index, year in enumerate(years_list):
    print(2015+index, ': ', year.shape, '\n', year.columns.tolist(), '\n\n')

2015 :  (158, 12)
 ['Country', 'Region', 'Happiness Rank', 'Happiness Score', 'Standard Error', 'GDP per capita', 'Social support', 'Life Expectancy', 'Freedom', 'Trust', 'Generosity', 'Dystopia Residual']


2016 :  (157, 13)
 ['Country', 'Region', 'Happiness Rank', 'Happiness Score', 'Lower Confidence Interval', 'Upper Confidence Interval', 'GDP per capita', 'Social support', 'Life Expectancy', 'Freedom', 'Trust', 'Generosity', 'Dystopia Residual']


2017 :  (155, 13)
 ['Country', 'Happiness Rank', 'Happiness Score', 'Whisker.high', 'Whisker.low', 'GDP per capita', 'Social support', 'Life Expectancy', 'Freedom', 'Generosity', 'Trust', 'Dystopia.Residual', 'Region']


2018 :  (156, 10)
 ['Happiness Rank', 'Country', 'Happiness Score', 'GDP per capita', 'Social support', 'Life Expectancy', 'Freedom', 'Generosity', 'Trust', 'Region']


2019 :  (156, 10)
 ['Happiness Rank', 'Country', 'Happiness Score', 'GDP per capita', 'Social support', 'Life Expectancy', 'Freedom', 'Generosity', 'Trust', 'Region']

In [74]:
df_2015.drop(['Standard Error', 'Dystopia Residual'], axis=1, inplace=True)
df_2016.drop(['Lower Confidence Interval', 'Upper Confidence Interval', 'Dystopia Residual'], axis=1, inplace=True)
df_2017.drop(['Whisker.high', 'Whisker.low', 'Dystopia.Residual'], axis=1, inplace=True)

KeyError: "['Standard Error', 'Dystopia Residual'] not found in axis"

In [73]:
years_list = [df_2015, df_2016, df_2017, df_2018, df_2019]
for index, year in enumerate(years_list):
    print(2015+index, ': ', year.shape, '\n', year.columns.tolist(), '\n\n')

2015 :  (158, 10)
 ['Country', 'Region', 'Happiness Rank', 'Happiness Score', 'GDP per capita', 'Social support', 'Life Expectancy', 'Freedom', 'Trust', 'Generosity']


2016 :  (157, 10)
 ['Country', 'Region', 'Happiness Rank', 'Happiness Score', 'GDP per capita', 'Social support', 'Life Expectancy', 'Freedom', 'Trust', 'Generosity']


2017 :  (155, 10)
 ['Country', 'Happiness Rank', 'Happiness Score', 'GDP per capita', 'Social support', 'Life Expectancy', 'Freedom', 'Generosity', 'Trust', 'Region']


2018 :  (156, 10)
 ['Happiness Rank', 'Country', 'Happiness Score', 'GDP per capita', 'Social support', 'Life Expectancy', 'Freedom', 'Generosity', 'Trust', 'Region']


2019 :  (156, 10)
 ['Happiness Rank', 'Country', 'Happiness Score', 'GDP per capita', 'Social support', 'Life Expectancy', 'Freedom', 'Generosity', 'Trust', 'Region']

In [78]:
ordered_columns = ['Country', 'Region', 'GDP per capita', 'Social support', 'Life Expectancy', 
                   'Freedom', 'Trust', 'Generosity', 'Happiness Rank', 'Happiness Score']

df_2015 = df_2015[ordered_columns]
df_2016 = df_2016[ordered_columns]
df_2017 = df_2017[ordered_columns]
df_2018 = df_2018[ordered_columns]
df_2019 = df_2019[ordered_columns]

In [79]:
years_list = [df_2015, df_2016, df_2017, df_2018, df_2019]
for index, year in enumerate(years_list):
    print(2015+index, ': ', year.shape, '\n', year.columns.tolist(), '\n\n')

2015 :  (158, 10)
 ['Country', 'Region', 'GDP per capita', 'Social support', 'Life Expectancy', 'Freedom', 'Trust', 'Generosity', 'Happiness Rank', 'Happiness Score']


2016 :  (157, 10)
 ['Country', 'Region', 'GDP per capita', 'Social support', 'Life Expectancy', 'Freedom', 'Trust', 'Generosity', 'Happiness Rank', 'Happiness Score']


2017 :  (155, 10)
 ['Country', 'Region', 'GDP per capita', 'Social support', 'Life Expectancy', 'Freedom', 'Trust', 'Generosity', 'Happiness Rank', 'Happiness Score']


2018 :  (156, 10)
 ['Country', 'Region', 'GDP per capita', 'Social support', 'Life Expectancy', 'Freedom', 'Trust', 'Generosity', 'Happiness Rank', 'Happiness Score']


2019 :  (156, 10)
 ['Country', 'Region', 'GDP per capita', 'Social support', 'Life Expectancy', 'Freedom', 'Trust', 'Generosity', 'Happiness Rank', 'Happiness Score']

In [192]:
for index, year in enumerate(years_list):
    duplicated_status = year.duplicated().values.any()
    if duplicated_status:
        print(2015+index, "has duplicated values")
    else:
        print(2015+index, "doesn't have duplicated values")

2015 doesn't have duplicated values
2016 doesn't have duplicated values
2017 doesn't have duplicated values
2018 doesn't have duplicated values
2019 doesn't have duplicated values

In [93]:
for index, year in enumerate(years_list):
    null_status = year.isnull().values.any()
    if null_status:
        print(2015+index, "has null values")
    else:
        print(2015+index, "doesn't have null values")

2015 doesn't have null values
2016 doesn't have null values
2017 has null values
2018 has null values
2019 has null values

In [106]:
for index, year in enumerate(years_list):
    nan_status = year.isna().values.any()
    if nan_status:
        print(2015+index, "has nan values")
    else:
        print(2015+index, "doesn't have nan values")

2015 doesn't have nan values
2016 doesn't have nan values
2017 has nan values
2018 has nan values
2019 has nan values

In [94]:
df_2017.isna().sum()

Country            0
Region             6
GDP per capita     0
Social support     0
Life Expectancy    0
Freedom            0
Trust              0
Generosity         0
Happiness Rank     0
Happiness Score    0
dtype: int64

In [95]:
df_2018.isna().sum()

Country            0
Region             6
GDP per capita     0
Social support     0
Life Expectancy    0
Freedom            0
Trust              1
Generosity         0
Happiness Rank     0
Happiness Score    0
dtype: int64

In [96]:
df_2019.isna().sum()

Country            0
Region             7
GDP per capita     0
Social support     0
Life Expectancy    0
Freedom            0
Trust              0
Generosity         0
Happiness Rank     0
Happiness Score    0
dtype: int64

In [97]:
df_2018['Trust'].fillna((df_2018['Trust'].mean()), inplace=True)
df_2018.isna().sum()

Country            0
Region             6
GDP per capita     0
Social support     0
Life Expectancy    0
Freedom            0
Trust              0
Generosity         0
Happiness Rank     0
Happiness Score    0
dtype: int64

In [101]:
df_2017[df_2017['Region'].isna()]

,Country,Region,GDP per capita,Social support,Life Expectancy,Freedom,Trust,Generosity,Happiness Rank,Happiness Score
32,Taiwan Province of China,NaN,1.433627,1.384565,0.793984,0.361467,0.063829,0.258360,33,6.422
49,Belize,NaN,0.907975,1.081418,0.450192,0.547509,0.096581,0.240016,50,5.956
70,"Hong Kong S.A.R., China",NaN,1.551675,1.262791,0.943062,0.490969,0.293934,0.374466,71,5.472
92,Somalia,NaN,0.022643,0.721151,0.113989,0.602127,0.282410,0.291631,93,5.151
110,Namibia,NaN,0.964434,1.098471,0.338612,0.520304,0.093147,0.077134,111,4.574
146,South Sudan,NaN,0.397249,0.601323,0.163486,0.147062,0.116794,0.285671,147,3.591

In [100]:
df_2018[df_2018['Region'].isna()]

,Country,Region,GDP per capita,Social support,Life Expectancy,Freedom,Trust,Generosity,Happiness Rank,Happiness Score
37,Trinidad & Tobago,NaN,1.223,1.492,0.564,0.575,0.019,0.171,38,6.192
48,Belize,NaN,0.807,1.101,0.474,0.593,0.089,0.183,49,5.956
57,Northern Cyprus,NaN,1.229,1.211,0.909,0.495,0.154,0.179,58,5.835
97,Somalia,NaN,0.000,0.712,0.115,0.674,0.282,0.238,98,4.982
118,Namibia,NaN,0.874,1.281,0.365,0.519,0.064,0.051,119,4.441
153,South Sudan,NaN,0.337,0.608,0.177,0.112,0.106,0.224,154,3.254

In [138]:
df_2019[df_2019['Region'].isna()]

,Country,Region,GDP per capita,Social support,Life Expectancy,Freedom,Trust,Generosity,Happiness Rank,Happiness Score,year
38,Trinidad & Tobago,NaN,1.231,1.477,0.713,0.489,0.016,0.185,39,6.192,2019
63,Northern Cyprus,NaN,1.263,1.252,1.042,0.417,0.162,0.191,64,5.718,2019
83,North Macedonia,NaN,0.983,1.294,0.838,0.345,0.034,0.185,84,5.274,2019
111,Somalia,NaN,0.000,0.698,0.268,0.559,0.270,0.243,112,4.668,2019
112,Namibia,NaN,0.879,1.313,0.477,0.401,0.056,0.070,113,4.639,2019
119,Gambia,NaN,0.308,0.939,0.428,0.382,0.167,0.269,120,4.516,2019
155,South Sudan,NaN,0.306,0.575,0.295,0.010,0.091,0.202,156,2.853,2019

In [105]:
# Leave the negligible null Regions for now.

# 2020 to 2023 do not have the final variables of Happiness Rank or Happiness Score, so we may not be able to use them.

In [141]:
df_2019[df_2019['Country'] == 'Namibia']

,Country,Region,GDP per capita,Social support,Life Expectancy,Freedom,Trust,Generosity,Happiness Rank,Happiness Score,year
112,Namibia,Sub-Saharan Africa,0.879,1.313,0.477,0.401,0.056,0.07,113,4.639,2019

In [131]:
df_2021 = df_2021.rename(columns = {'Country name': 'Country', 'Regional indicator': 'Region'}, inplace=False)

In [132]:
df_2021[df_2021['Country'].isin(['South Sudan', 'Gambia', 'Namibia', 'Somalia', 'North Macedonia',
                                      'Northern Cyprus', 'Trinidad & Tobago', 'Belize',
                                      'Hong Kong S.A.R., China', 'Taiwan Province of China'])]

,Country,Region,Ladder score,Standard error of ladder score,upperwhisker,lowerwhisker,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,...,Perceptions of corruption,Ladder score in Dystopia,Explained by: Log GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption,Dystopia + residual,year
23,Taiwan Province of China,East Asia,6.584,0.038,6.659,6.510,10.871,0.898,69.600,0.784,...,0.721,2.43,1.480,0.982,0.665,0.490,0.142,0.139,2.687,2021
93,North Macedonia,Central and Eastern Europe,5.101,0.051,5.202,5.001,9.693,0.805,65.474,0.751,...,0.905,2.43,1.068,0.772,0.535,0.450,0.212,0.022,2.042,2021
97,Gambia,Sub-Saharan Africa,5.051,0.089,5.225,4.877,7.686,0.690,55.160,0.697,...,0.746,2.43,0.367,0.511,0.210,0.384,0.465,0.123,2.990,2021
123,Namibia,Sub-Saharan Africa,4.574,0.064,4.700,4.448,9.161,0.818,56.799,0.719,...,0.847,2.43,0.882,0.801,0.262,0.411,0.091,0.059,2.068,2021

In [175]:
df_2017 = pd.read_csv("../data/clean/2017.csv")
df_2018 = pd.read_csv("../data/clean/2018.csv")
df_2019 = pd.read_csv("../data/clean/2019.csv")

In [177]:
# Filling in Region from df_2021 values

df_2019.loc[df_2019['Country'] == 'Namibia', 'Region'] = 'Sub-Saharan Africa'
df_2019.loc[df_2019['Country'] == 'Gambia', 'Region'] = 'Sub-Saharan Africa'
df_2019.loc[df_2019['Country'] == 'North Macedonia', 'Region'] = 'Central and Eastern Europe'
df_2019.loc[df_2019['Country'] == 'Taiwan Province of China', 'Region'] = 'East Asia'
df_2019.loc[df_2019['Country'] == 'South Sudan', 'Region'] = 'Sub-Saharan Africa'
df_2019.loc[df_2019['Country'] == 'Somalia', 'Region'] = 'Sub-Saharan Africa'
df_2019.loc[df_2019['Country'] == 'Northern Cyprus', 'Region'] = 'Middle East and Northern Cyprus'
df_2019.loc[df_2019['Country'] == 'Trinidad & Tobago', 'Region'] = 'Latin America and Caribbean'
df_2019.loc[df_2019['Country'] == 'Belize', 'Region'] = 'Latin America and Caribbean'
df_2019.loc[df_2019['Country'] == 'Hong Kong S.A.R., China', 'Region'] = 'East Asia'

df_2018.loc[df_2018['Country'] == 'Namibia', 'Region'] = 'Sub-Saharan Africa'
df_2018.loc[df_2018['Country'] == 'Gambia', 'Region'] = 'Sub-Saharan Africa'
df_2018.loc[df_2018['Country'] == 'North Macedonia', 'Region'] = 'Central and Eastern Europe'
df_2018.loc[df_2018['Country'] == 'Taiwan Province of China', 'Region'] = 'East Asia'
df_2018.loc[df_2018['Country'] == 'South Sudan', 'Region'] = 'Sub-Saharan Africa'
df_2018.loc[df_2018['Country'] == 'Somalia', 'Region'] = 'Sub-Saharan Africa'
df_2018.loc[df_2018['Country'] == 'Northern Cyprus', 'Region'] = 'Middle East and Northern Cyprus'
df_2018.loc[df_2018['Country'] == 'Trinidad & Tobago', 'Region'] = 'Latin America and Caribbean'
df_2018.loc[df_2018['Country'] == 'Belize', 'Region'] = 'Latin America and Caribbean'
df_2018.loc[df_2018['Country'] == 'Hong Kong S.A.R., China', 'Region'] = 'East Asia'

df_2017.loc[df_2017['Country'] == 'Namibia', 'Region'] = 'Sub-Saharan Africa'
df_2017.loc[df_2017['Country'] == 'Gambia', 'Region'] = 'Sub-Saharan Africa'
df_2017.loc[df_2017['Country'] == 'North Macedonia', 'Region'] = 'Central and Eastern Europe'
df_2017.loc[df_2017['Country'] == 'Taiwan Province of China', 'Region'] = 'East Asia'
df_2017.loc[df_2017['Country'] == 'South Sudan', 'Region'] = 'Sub-Saharan Africa'
df_2017.loc[df_2017['Country'] == 'Somalia', 'Region'] = 'Sub-Saharan Africa'
df_2017.loc[df_2017['Country'] == 'Northern Cyprus', 'Region'] = 'Middle East and Northern Cyprus'
df_2017.loc[df_2017['Country'] == 'Trinidad & Tobago', 'Region'] = 'Latin America and Caribbean'
df_2017.loc[df_2017['Country'] == 'Belize', 'Region'] = 'Latin America and Caribbean'
df_2017.loc[df_2017['Country'] == 'Hong Kong S.A.R., China', 'Region'] = 'East Asia'

Namibia: Sub-Saharan Africa
Gambia: Sub-Saharan Africa
North Macedonia: Central and Eastern Europe
Taiwan Province of China: East Asia


South Sudan: Sub-Saharan Africa
Somalia: Sub-Saharan Africa

Northern Cyprus: Middle East and Northern Cyprus


Trinidad & Tobago: Latin America and Caribbean
Belize: Latin America and Caribbean
Hong Kong S.A.R., China: East Asia

In [190]:
years_list = [df_2015, df_2016, df_2017, df_2018, df_2019]
for index, year in enumerate(years_list):
    nan_status = year.isna().values.any()
    if nan_status:
        print(2015+index, "has nan values")
    else:
        print(2015+index, "doesn't have nan values")

2015 doesn't have nan values
2016 doesn't have nan values
2017 doesn't have nan values
2018 doesn't have nan values
2019 doesn't have nan values

In [191]:
years_list = [df_2015, df_2016, df_2017, df_2018, df_2019]
for index, year in enumerate(years_list):
    null_status = year.isnull().values.any()
    if null_status:
        print(2015+index, "has null values")
    else:
        print(2015+index, "doesn't have null values")

2015 doesn't have null values
2016 doesn't have null values
2017 doesn't have null values
2018 doesn't have null values
2019 doesn't have null values

In [189]:
df_2015.to_csv("../data/clean/2015.csv", index=False)
df_2016.to_csv("../data/clean/2016.csv", index=False)
df_2017.to_csv("../data/clean/2017.csv", index=False)
df_2018.to_csv("../data/clean/2018.csv", index=False)
df_2019.to_csv("../data/clean/2019.csv", index=False)

In [182]:
# Creating a column for year to aid visualization

for index, year_df in enumerate(years_list):
    year_df = year_df.copy()
    year_df.loc[:, 'year'] = 2015 + index

In [188]:
df_2019.head()

,Country,Region,GDP per capita,Social support,Life Expectancy,Freedom,Trust,Generosity,Happiness Rank,Happiness Score,year
0,Finland,Western Europe,1.340,1.587,0.986,0.596,0.393,0.153,1,7.769,2019
1,Denmark,Western Europe,1.383,1.573,0.996,0.592,0.410,0.252,2,7.600,2019
2,Norway,Western Europe,1.488,1.582,1.028,0.603,0.341,0.271,3,7.554,2019
3,Iceland,Western Europe,1.380,1.624,1.026,0.591,0.118,0.354,4,7.494,2019
4,Netherlands,Western Europe,1.396,1.522,0.999,0.557,0.298,0.322,5,7.488,2019

In [193]:
df_15to19 = pd.concat([df_2015, df_2016, df_2017, df_2018, df_2019])
df_15to19.sample(7)

,Country,Region,GDP per capita,Social support,Life Expectancy,Freedom,Trust,Generosity,Happiness Rank,Happiness Score,year
72,Estonia,Central and Eastern Europe,1.151740,1.227910,0.773610,0.448880,0.151840,0.086800,73,5.429,2015
149,Malawi,Sub-Saharan Africa,0.191000,0.560000,0.495000,0.443000,0.089000,0.218000,150,3.410,2019
114,Bangladesh,Southern Asia,0.532000,0.850000,0.579000,0.580000,0.144000,0.153000,115,4.500,2018
71,Philippines,Southeastern Asia,0.857699,1.253918,0.468009,0.585215,0.099332,0.193513,72,5.430,2017
36,Bahrain,Middle East and Northern Africa,1.362000,1.368000,0.871000,0.536000,0.110000,0.255000,37,6.199,2019
106,Tunisia,Middle East and Northern Africa,0.881130,0.604290,0.737930,0.262680,0.063580,0.064310,107,4.739,2015
17,Ireland,Western Europe,1.335960,1.369480,0.895330,0.617770,0.287030,0.459010,18,6.940,2015

In [197]:
df_15to19.shape

(782, 11)

In [199]:
df_15to19.duplicated().sum()

0

In [200]:
df_15to19.isna().sum()

Country            0
Region             0
GDP per capita     0
Social support     0
Life Expectancy    0
Freedom            0
Trust              0
Generosity         0
Happiness Rank     0
Happiness Score    0
year               0
dtype: int64

In [201]:
df_15to19.isnull().sum()

Country            0
Region             0
GDP per capita     0
Social support     0
Life Expectancy    0
Freedom            0
Trust              0
Generosity         0
Happiness Rank     0
Happiness Score    0
year               0
dtype: int64

In [202]:
df_15to19.to_csv("../data/clean/2015to2019.csv", index=False)